/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 10px;
}

/* breakpoints */
/* se a tela tiver pelo menos 400px vai carregar os estilos abaixo */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0; /* só funciona com o position definido */
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family: 'Permanent Marker', cursive;
}

.site-subtitle {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.8em;
}

.portfolio {
  padding: 2em;
}

.portfolio h2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin-bottom: 1.5em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
  height: calc(100vh - 1.5em -1.5em) /* tamanho completo da tela menos tamanho da fonte do H2 e tamanho da margem bottom do H2 */
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  width: 180px;
  height: 240px;
  object-fit: cover;
  object-position: left bottom;
}